/* subpage.scss */

.subpage-title {
	fontsize: em(30);
}

.work-list {
	overflow: hidden;

	margin: 20px auto 0;
}

.work-list__item {
//	font-family: $content;
	text-transform: none;

}

.work-list__item {
	float: left;
	width: 29%;
	margin: 30px 2% 20px;
	&:nth-of-type(3n + 1) {
		clear: left;
	}
	@media(max-width: $tablet-width) {
		width: 46%;
		&:nth-of-type(3n + 1) {
			clear: none;
		}
		&:nth-of-type(2n + 1) {
			clear: left;
		}
	}
	@media(max-width: $mobile-width) {
		width: 100%;
		margin: 30px 0 20px;
		&:nth-of-type(n) {
			clear: none;
		}
	}
}

.work-list__image {
	display: block;
	margin-bottom: 1em;
	padding: 0;
	border-bottom: 0;
	@include transition(0.3s);
	&:hover {
		border-bottom: 0;
		@include transform(scale(0.95));
		.ie9 & {
			@include transform(none);
		}
	}
}

.flexslider {
	background: none;
	border: transparent;
}

.flex-prev, .flex-next, .flex-control-nav a {
	border-bottom: none;
	&:hover {
		border-bottom: none;
	}
}

.flex-direction-nav a {
	height: 46px;
	color: $dark-gray;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	&:hover {
		color: $gold;
		opacity: 1;
	}
}

.flex-control-paging li a {
	background: $light-gray;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	&:hover {
		background: $medium-gray;
	}
	&.flex-active {
		background: $gold;
	}
}

.gallery-solo {
	margin: 0 0 60px;
}
