@font-face {
  font-family: 'lakesight';
  src: url("../../../fonts/lakesight-webfont.eot");
  src: url("../../../fonts/lakesight-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/lakesight-webfont.woff2") format("woff2"), url("../../../fonts/lakesight-webfont.woff") format("woff"), url("../../../fonts/lakesight-webfont.ttf") format("truetype"), url("../../../fonts/lakesight-webfont.svg#lakesight_personal_use_onlyRg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'robotolight';
  src: url("../../../fonts/roboto-light-webfont.eot");
  src: url("../../../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/roboto-light-webfont.woff2") format("woff2"), url("../../../fonts/roboto-light-webfont.woff") format("woff"), url("../../../fonts/roboto-light-webfont.ttf") format("truetype"), url("../../../fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'roboto_slabregular';
  src: url("../../../fonts/robotoslab-regular-webfont.eot");
  src: url("../../../fonts/robotoslab-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/robotoslab-regular-webfont.woff2") format("woff2"), url("../../../fonts/robotoslab-regular-webfont.woff") format("woff"), url("../../../fonts/robotoslab-regular-webfont.ttf") format("truetype"), url("../../../fonts/robotoslab-regular-webfont.svg#roboto_slabregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'robotolight_italic';
  src: url("../../../fonts/roboto-lightitalic-webfont.eot");
  src: url("../../../fonts/roboto-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/roboto-lightitalic-webfont.woff2") format("woff2"), url("../../../fonts/roboto-lightitalic-webfont.woff") format("woff"), url("../../../fonts/roboto-lightitalic-webfont.ttf") format("truetype"), url("../../../fonts/roboto-lightitalic-webfont.svg#robotolight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'roboto_slablight';
  src: url("../../../fonts/robotoslab-light-webfont.eot");
  src: url("../../../fonts/robotoslab-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/robotoslab-light-webfont.woff2") format("woff2"), url("../../../fonts/robotoslab-light-webfont.woff") format("woff"), url("../../../fonts/robotoslab-light-webfont.ttf") format("truetype"), url("../../../fonts/robotoslab-light-webfont.svg#roboto_slablight") format("svg");
  font-weight: normal;
  font-style: normal; }


body {
  font-size: 18px;
  font-family: "robotolight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: none;
  color: #59544c; 
  text-align: center; }

a {
  text-decoration: none;
  color: #59544c;
  border-bottom: 2px solid #d5912b; }

p, ol, ul {
  line-height: 1.5;
  margin: 0 0 1em 0; }

ul {
  font-family: "roboto_slablight", Courier, Times, serif;
  text-transform: uppercase; 
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "roboto_slabregular", "Courier Bold", Courier, Times, serif;
  line-height: 1.5em;
  text-transform: uppercase;
  margin: 0.5em 0 1em; }

h1 {
  font-size: 1.33333em; }

h2 {
  font-size: 1em; }

h3 {
  font-size: 0.88889em; }

hr {
  width: 100px;
  height: 1px;
  margin: 40px auto;
  border-top: 1px solid #d5912b;
  border-bottom: 1px solid #d5912b;
  border-left: none;
  border-right: none; }

.accent {
  font-family: "lakesight", "Brush Script MT", cursive;
  text-transform: none;
  font-size: 2em;
  display: inline-block;
  padding: 0 5px; }

blockquote {
  margin: 0.5em 0 1em;
  font-family: "roboto_slablight", Courier, Times, serif;
  font-size: 1.33333em;
  padding-top: 60px;
  line-height: 1.5em;
  background: url(../../../images/build/quote.png) no-repeat center top; }
  .svg blockquote {
    .background: url(../../../images/quote.svg) no-repeat center top; }







